<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>FalseValue</key>
		<real>1</real>
		<key>Key</key>
		<string>triggerButton</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Open with</string>
		<key>Titles</key>
		<array>
			<string>Middle click</string>
			<string>Right click</string>
		</array>
		<key>TrueValue</key>
		<real>2</real>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Actions</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>com.appsforartists.previousPage</string>
		<key>Key</key>
		<string>action2</string>
		<key>Title</key>
		<string>0°</string>
		<key>Titles</key>
		<array>
			<string>Page up</string>
			<string>Page down</string>
			<string>Previous page</string>
			<string>Next page</string>
			<string>Previous tab</string>
			<string>Next tab</string>
			<string>New tab</string>
			<string>Close tab</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>com.appsforartists.pageUp</string>
			<string>com.appsforartists.pageDown</string>
			<string>com.appsforartists.previousPage</string>
			<string>com.appsforartists.nextPage</string>
			<string>com.appsforartists.previousTab</string>
			<string>com.appsforartists.nextTab</string>
			<string>com.appsforartists.newTab</string>
			<string>com.appsforartists.closeTab</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>com.appsforartists.newTab</string>
		<key>Key</key>
		<string>action1</string>
		<key>Title</key>
		<string>45°</string>
		<key>Titles</key>
		<array>
			<string>Page up</string>
			<string>Page down</string>
			<string>Previous page</string>
			<string>Next page</string>
			<string>Previous tab</string>
			<string>Next tab</string>
			<string>New tab</string>
			<string>Close tab</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>com.appsforartists.pageUp</string>
			<string>com.appsforartists.pageDown</string>
			<string>com.appsforartists.previousPage</string>
			<string>com.appsforartists.nextPage</string>
			<string>com.appsforartists.previousTab</string>
			<string>com.appsforartists.nextTab</string>
			<string>com.appsforartists.newTab</string>
			<string>com.appsforartists.closeTab</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>com.appsforartists.pageDown</string>
		<key>Key</key>
		<string>action0</string>
		<key>Title</key>
		<string>90°</string>
		<key>Titles</key>
		<array>
			<string>Page up</string>
			<string>Page down</string>
			<string>Previous page</string>
			<string>Next page</string>
			<string>Previous tab</string>
			<string>Next tab</string>
			<string>New tab</string>
			<string>Close tab</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>com.appsforartists.pageUp</string>
			<string>com.appsforartists.pageDown</string>
			<string>com.appsforartists.previousPage</string>
			<string>com.appsforartists.nextPage</string>
			<string>com.appsforartists.previousTab</string>
			<string>com.appsforartists.nextTab</string>
			<string>com.appsforartists.newTab</string>
			<string>com.appsforartists.closeTab</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>com.appsforartists.closeTab</string>
		<key>Key</key>
		<string>action7</string>
		<key>Title</key>
		<string>135°</string>
		<key>Titles</key>
		<array>
			<string>Page up</string>
			<string>Page down</string>
			<string>Previous page</string>
			<string>Next page</string>
			<string>Previous tab</string>
			<string>Next tab</string>
			<string>New tab</string>
			<string>Close tab</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>com.appsforartists.pageUp</string>
			<string>com.appsforartists.pageDown</string>
			<string>com.appsforartists.previousPage</string>
			<string>com.appsforartists.nextPage</string>
			<string>com.appsforartists.previousTab</string>
			<string>com.appsforartists.nextTab</string>
			<string>com.appsforartists.newTab</string>
			<string>com.appsforartists.closeTab</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>com.appsforartists.nextPage</string>
		<key>Key</key>
		<string>action6</string>
		<key>Title</key>
		<string>180°</string>
		<key>Titles</key>
		<array>
			<string>Page up</string>
			<string>Page down</string>
			<string>Previous page</string>
			<string>Next page</string>
			<string>Previous tab</string>
			<string>Next tab</string>
			<string>New tab</string>
			<string>Close tab</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>com.appsforartists.pageUp</string>
			<string>com.appsforartists.pageDown</string>
			<string>com.appsforartists.previousPage</string>
			<string>com.appsforartists.nextPage</string>
			<string>com.appsforartists.previousTab</string>
			<string>com.appsforartists.nextTab</string>
			<string>com.appsforartists.newTab</string>
			<string>com.appsforartists.closeTab</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>com.appsforartists.nextTab</string>
		<key>Key</key>
		<string>action5</string>
		<key>Title</key>
		<string>225°</string>
		<key>Titles</key>
		<array>
			<string>Page up</string>
			<string>Page down</string>
			<string>Previous page</string>
			<string>Next page</string>
			<string>Previous tab</string>
			<string>Next tab</string>
			<string>New tab</string>
			<string>Close tab</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>com.appsforartists.pageUp</string>
			<string>com.appsforartists.pageDown</string>
			<string>com.appsforartists.previousPage</string>
			<string>com.appsforartists.nextPage</string>
			<string>com.appsforartists.previousTab</string>
			<string>com.appsforartists.nextTab</string>
			<string>com.appsforartists.newTab</string>
			<string>com.appsforartists.closeTab</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>com.appsforartists.pageUp</string>
		<key>Key</key>
		<string>action4</string>
		<key>Title</key>
		<string>270°</string>
		<key>Titles</key>
		<array>
			<string>Page up</string>
			<string>Page down</string>
			<string>Previous page</string>
			<string>Next page</string>
			<string>Previous tab</string>
			<string>Next tab</string>
			<string>New tab</string>
			<string>Close tab</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>com.appsforartists.pageUp</string>
			<string>com.appsforartists.pageDown</string>
			<string>com.appsforartists.previousPage</string>
			<string>com.appsforartists.nextPage</string>
			<string>com.appsforartists.previousTab</string>
			<string>com.appsforartists.nextTab</string>
			<string>com.appsforartists.newTab</string>
			<string>com.appsforartists.closeTab</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>com.appsforartists.previousTab</string>
		<key>Key</key>
		<string>action3</string>
		<key>Title</key>
		<string>315°</string>
		<key>Titles</key>
		<array>
			<string>Page up</string>
			<string>Page down</string>
			<string>Previous page</string>
			<string>Next page</string>
			<string>Previous tab</string>
			<string>Next tab</string>
			<string>New tab</string>
			<string>Close tab</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>com.appsforartists.pageUp</string>
			<string>com.appsforartists.pageDown</string>
			<string>com.appsforartists.previousPage</string>
			<string>com.appsforartists.nextPage</string>
			<string>com.appsforartists.previousTab</string>
			<string>com.appsforartists.nextTab</string>
			<string>com.appsforartists.newTab</string>
			<string>com.appsforartists.closeTab</string>
		</array>
	</dict>
</array>
</plist>
